.fieldset {
    margin-bottom: 15px;

    .description{
        font-size: 12px;
        color: #888888;
        font-weight: 500;
    }
}

label {
   display: block;
   margin-bottom: 5px;
   font-size: 13px;
    font-weight: 600;

    &.large-field {
        font-size: 18px;
        font-weight: 600;
    }

}

input[type='text'],
input[type='password'],
input[type='search'] {
    height: 3rem;
    width: 100%;
    border: 1px solid $accent;
    border-radius: 0;
    padding: 5px 15px;
    font-family: $open-sans;
    font-weight: 500;
    background: $white;
    &:focus {
        outline: 3px solid $outline;
    }

    &.large-field {
        height: 45px;
        font-size: 18px;
    }
}

textarea {
    width: 100%;
    border: 1px solid $accent;
    border-radius: 0;
    padding: 15px;
    font-family: $open-sans;
    font-weight: 500;
    background: $white;
    resize: vertical;
    &:focus {
        outline: 3px solid $outline;
    }
}

select {
    padding: 0.5rem;
    border: none;
    height: 3rem;
    outline: none;
    width: 100%;
    border: 1px solid $accent;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: none;
    border-radius: 0;
    font-family: $open-sans;
    font-weight: 500;
    background: $white;
}

button,
.button {
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-family: $open-sans;
    background: $base;
    color: $white;
    border: none;
    padding: 5px 15px;
    height: 3rem;
    border-radius: 0;
    font-weight: 600;
    font-size: 13px;

    &.full-width {
        display: block;
        width: 100%;
    }

    &.large {
        height: 60px;
        padding: 0 15px;
        line-height: 60px;
        font-size: 22px;
    }

    &:focus {
        outline: 3px solid $outline;
    }

    &.danger { 
        background: $danger;
    }

    &.primary {
        background: $primary;
    }

    &.link {
        background: none;
        &.danger { 
            color: $danger;
        }

        &.primary {
            color: $primary;
        }
    }
}