// SIDEBAR
.sidebar{
    position: fixed;
    width: 240px;
    background: $white;
    color: #32373c;
    height: 100%;
    padding: 15px 0px;

    h2 {
        font-weight: 500;
        font-size: 22px;
        margin: 0 0 30px;
    }

    h3 {
        margin: 5px 15px;
        font-size: 11px;
        letter-spacing: $small-letter-spacing;
    }

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    .sidebar-header {
        padding: 0px 15px;
    }

    .sidebar-list {
        margin-bottom: 30px;
        li {
            a {
                color: #4D9DE0;
                text-decoration: none;
                padding: 10px 15px;
                display: block;
                font-size: 12px;
                letter-spacing: -0.1px;
                min-height: 30px;
                transition: all 0.1s ease;

                i {
                    margin-right: 5px;
                }

                span {
                    display: inline-block;
                }

                &:focus {
                    outline: 3px solid $outline;
                }

                &:hover {
                    text-indent: 2px;
                }
            }
        }

        .menu-list>li>a.is-active {
            background: rgba(77, 157, 224, 0.2);
            color: #2d72ad;
        }

        .submenu {
            display: none;
            &.is-active {
                display: block;
            }
            
            a {
                padding-left: 30px;
                &.is-active {
                    font-weight: 600;
                }
            }
        }
    }
}