// SIDEBAR
.sidebar{
    color: $off-white;
    background: $grey;
    height: 100vh;
    padding: 1.5rem;
    position: sticky;
    top: 0;

    h2 {
        margin: 0 0 3rem;
    }

    h3 {
        font-size: 11px;
        letter-spacing: $small-letter-spacing;
        text-transform: uppercase;
        font-weight: 900;
    }

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    .sidebar-list {
        margin-bottom: 30px;
        li {
            a {
                color: $inactive-sidebar;
                text-decoration: none;
                padding: 1rem 0;
                display: block;
                font-size: 13px;
                font-weight: 600;
                letter-spacing: -0.1px;
                min-height: 30px;
                transition: all 0.1s ease;

                i {
                    margin-right: 5px;
                    font-size: 16px;
                }

                span {
                    vertical-align: top;
                    display: inline-block;
                }
            }
        }

        .menu-list > li > a.is-active {
            color: $white;
            background: $primary;
            border-radius: 3px;

            &.has-submenu {
                border-radius: 3px 3px 0 0;
            }
        }

        .submenu {
            display: none;
            margin: 0 15px;
            background: $primary-1;
            border-radius: 0 0 3px 3px;

            &.is-active {
                display: block;
            }
            
            a {
                color: $off-white;

                &.is-active {
                    font-weight: 600;
                    color: $white;
                    border-radius: 3px;
                }
            }
        }
    }
}