$some-red: #CE3B3B;
$some-blue: #1789FC;
$some-green: #46A95A;

@import "~flexboxgrid/dist/flexboxgrid.min.css";

//-Colours and shit
$white: #ffffff;
$base-font-color: #32373c;
$link-color: #4D9DE0;
$accent:#dbebf9;
$outline:#adbbda;
$background: #f9f9f9;

//- Typography and shit
$open-sans: 'Open Sans', 'Helvetica Neue', 'Helvetica', 'Sans Serif';
$small-letter-spacing: 0.2px;

@import 'select';

*, *:before, *:after {
  box-sizing: border-box;
}

body {
	background: $background;
	font-family: $open-sans;
	color: #32373c;
	margin: 0;
    font-size: 14px;
}

h1 {
	font-weight: 500;
    margin: 0 0 15px;
}

h2 {
    font-weight: 500;
    margin: 0;
}

a {
    color: $link-color;
    text-decoration: none;
}

#login-form-wrap {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    form {
	    width: 300px;
	    padding: 15px;
        h1 {
            text-align: center
        }
        button {
            margin-top: 25px;
        }
    }
}

.fieldset {
    margin-bottom: 15px;

    .description{
        font-size: 12px;
        color: #888888;
        font-weight: 500;
    }
}

label {
   display: block;
   margin-bottom: 5px;
   font-size: 13px;

    &.large-field {
        font-size: 18px;
        font-weight: 600;
    }

}

input[type='text'],
input[type='password'],
input[type='search'] {
    height: 30px;
    width: 100%;
    border: 1px solid $accent;
    border-radius: 0;
    padding: 5px 15px;
    font-family: $open-sans;
    font-weight: 500;
    background: $white;
    &:focus {
        outline: 3px solid $outline;
    }

    &.large-field {
        height: 45px;
        font-size: 18px;
    }
}

textarea {
    width: 100%;
    border: 1px solid $accent;
    border-radius: 0;
    padding: 15px;
    font-family: $open-sans;
    font-weight: 500;
    background: $white;
    resize: vertical;
    &:focus {
        outline: 3px solid $outline;
    }
}


//- Find a less shitty way to do this
.multiselect {
    .multiselect__tags {
        height: 30px;
        width: 100%;
        border: 1px solid $accent;
        border-radius: 0;
        padding: 5px;
        font-family: $open-sans;
        font-weight: 500;
        background: $white;
        .multiselect__single {
            font-size: 14px;
            margin: 0;
            padding: 0;
            display: block;
            color: $base-font-color;
        }
    }

    .multiselect__content-wrapper {
        outline: 3px solid $outline;
    }

    .multiselect__option {
        display: block;
        padding: 5px;
        height: 30px;
        line-height: 30px;
        position: relative;
        cursor: pointer;
        white-space: nowrap;
    }

    &:focus {
        outline: 3px solid $outline;
    }

    &.large-field {
        .multiselect__tags {
            height: 60px;
            font-size: 22px;
            padding: 15px;
        }

        .multiselect__single {
            font-size: 22px;
        }

        .multiselect__option {
            height: 60px;
            font-size: 22px;
            line-height: 60px;
            padding: 0 15px;
        }


    }

}


.checkbox-wrap {
    label {    
        display: flex;
        align-items:center;
        margin: 0;
        div:before {
            content:'';
            background: transparent;
            border: 2px solid #818890;
            height: 15px;
            width: 15px;
            display: inline-block;
            margin-right: 5px;
            vertical-align:top;
        }
        input[type="checkbox"]{
            position: absolute;
            left: -1000000px;
            &:checked + div:before {
                background: #818890
            }
            &:focus + div:before {
                outline: 3px solid $outline;
            }
        }
    }
}



button,
.button {
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-family: $open-sans;
    background: #31313a;
    color: #f2f2fa;
    border: none;
    padding: 5px 15px;
    height: 30px;
    &.full-width {
        display: block;
        width: 100%;
    }

    &.large {
        height: 60px;
        padding: 0 15px;
        line-height: 60px;
        font-size: 22px;
    }

    &:focus {
        outline: 3px solid $outline;
    }

    &.danger { 
        background: $some-red;
    }

    &.primary {
        background: $some-blue;
    }
}

// SIDEBAR TING
.sidebar-ting {
    position: fixed;
    width: 240px;
    background: $white;
    color: #32373c;
    height: 100%;
    padding: 15px 0px;

    h2 {
        font-weight: 500;
        font-size: 22px;
        margin: 0 0 30px;
    }

    h3 {
        margin: 5px 15px;
        font-size: 11px;
        letter-spacing: $small-letter-spacing;
    }

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    .sidebar-header {
        padding: 0px 15px;
    }

    .sidebar-list {
        margin-bottom: 30px;
        li {
            a {
                color: #4D9DE0;
                text-decoration: none;
                padding: 10px 15px;
                display: block;
                font-size: 12px;
                letter-spacing: -0.1px;
                min-height: 30px;
                transition: all 0.1s ease;

                i {
                    margin-right: 5px;
                }

                span {
                    display: inline-block;
                }

                &:focus {
                    outline: 3px solid $outline;
                }

                &:hover {
                    text-indent: 2px;
                }
            }
        }

        .menu-list>li>a.is-active{
            background: rgba(77, 157, 224, 0.2);
            color: #2d72ad;
        }

        .submenu {
            display: none;
            margin-left: 30px;
            &.is-active {
                display: block;
            }

            a.is-active {
                font-weight: 600;
            }
        }
    }
}

.box-row { 
    background:red;
    height: 30px;
}


// CONTENT TING
.content-ting {
    margin-left: 240px;
    padding: 15px;
}


// EDITOR SCREEN
.post-sidebar-wrap {
    position: relative;
    background: #ffffff;

    h3 {
        margin: 0;
        padding: 15px;
        border-bottom: 1px solid $accent;
        font-weight: 600;
        font-size: 11px;
        letter-spacing: 0.2px;
        text-align: center;
    }

    .post-sidebar {
        color: #32373c;
        padding: 15px;
        width: 100%;
    }
}

//- post-list
.post-list-wrap {
    margin: 60px 0.5rem;
}

.post-list {
    width: 100%;
    border-collapse: collapse;

    th {
        text-align: left;
        font-weight: 500;
        background-color: #fafafa;
    }

    th,td {
        text-align: left;
        padding: 5px 15px;
    }

    tr {
        background-color: #C1C3C9;
        border-bottom: 1px solid #8890A5;
        &:nth-child(odd){
            background-color: #D2D5DD;
        }
    }

    button,
    .button {
        margin: 0px 5px;
    }

    .post-name {
        font-size: 18px;
        font-weight: 600;
    }
}

//- User-list
.user-list-wrap {
    margin: 60px 0.5rem;
}

.user-list {
    width: 100%;
    font-size: 13px;

    .header {
        height: 30px;
        background: red;
        line-height: 30px;
        background: #929292;
        color: $white;
        font-size: 12px;
    }

    .username {
        font-weight: 600;
        font-size: 11px;
        letter-spacing: 0.2px;
        margin-top: 5px;
    }

    .list-item {
        background: #ffffff;
        border-bottom: 1px solid #dadada;
        transition: all 0.1s ease;
        > div {
            padding: 5px;
        }
    }

    a { 
        font-size: 13px;
    }

    .checkbox {
        width: 30px;
        flex-grow: 0;
    }

    .row > div {
        padding: 5px;
    }

    button,
    .button {
        margin: 0px 5px;
    }

    .nested-info {
        tr {
            background: none;
        }
        th,td {
            text-align: left;
            padding: 0px;
        }
    }
}


// ROLES

.role-form {
    max-width: 900px;
    width: 100%;
    margin: 0px auto;
}

.role-wrapper {
    margin: 30px 0px;
    .role-collection {
        background: $white;
        margin-bottom: 30px;

        h2 {
            font-size: 14px;
            letter-spacing: $small-letter-spacing;
            border-bottom: 1px solid $accent;
            margin: 0 15px;
            padding: 15px 0;
        }

        .permission-selector-wrap {
            padding: 0px 15px;
            .description {
                color: #6c757d;
                font-size: 12px;
                margin: 15px 0px;
                letter-spacing: $small-letter-spacing;
            }
            .permission-selector .checkbox-wrap {
                margin-bottom: 15px;
                label {
                    > div {
                        font-size: 13px;
                    }
                    :before {
                        vertical-align: middle;
                        border-color: $some-red;
                        background-color: $some-red;
                    }
                    input:checked + div:before{
                        border-color: $some-green;
                        background-color: $some-green;
                    }
                }
            }
        }
    }
}





//- MEDIA UPLOADER

.uploader-wrap {
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100%);
    height: calc(100%);
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
    &.active {
        visibility: visible;
        opacity: 1;
    }

    .overlay {
        position: absolute;
        width: calc(100%);
        height: calc(100%);
        background: rgba(0,0,0, 0.5);
        top: 0;
        left: 0;
    }

    .uploader {
        position: relative;
        background: $white;
        width: calc(100% - 120px);
        height: calc(100% - 120px);
        display: flex;
        flex-direction: column;
        box-shadow: 1px 1px 8px 0px rgba(0, 0, 0, 0.2);

        .uploader-header {
            padding: 15px;
        }

        .selected-file {
            display: block;
            width: 300px;
            background: #ffffff;
            border-left: 1px solid $accent;
            padding: 15px;
        }

        .uploader-content {
            flex: 1;
            background: #f3f3f3;
            border-top: 1px solid $accent;
            border-bottom: 1px solid $accent;
            display: flex;
            align-items: stretch;
            align-content: start;
            position: relative;

            .media-container {
                overflow-y: scroll;
                width: calc(100% - 300px);
            }

            h3 {
                width: 100%;
                padding: 0px 15px;
                font-size: 14px;
                margin: 15px 0px 0px;
                letter-spacing: $small-letter-spacing;
            }

            .file-placeholder {
                width: 100%;
                background: #83c6ff;
                height: 100%;
            }

            .media-wrap {
                flex: 1;
                display: flex;
                align-items: start;
                align-content: start;
                position: relative;
                flex-wrap: wrap;
            }

            .file {
                cursor: pointer;
                background: none;
                margin: 15px;
                transition: all 0.1s ease;
                height: auto;
                width: 240px;
                padding: 0;
                display: flex;
                flex-direction: column;
                color: $base-font-color;
                font-size: 12px;

                &.uploading {
                    width: 240px;
                    height: 120px;
                    flex-direction: row;
                    border: 1px solid $outline;
                }

                &:hover,&:focus {
                    outline: none;
                    .img-wrap{
                        outline: 3px solid $outline;
                    }
                }

            }

            .progress-wrap {
                width: 100%;
                height: 15px;
                border: 1px solid $outline;
                margin: 15px;
                .progress {
                    height: 100%;
                    background: $accent;
                }
            }

            .img-wrap{
                border: 1px solid $outline;
                position: relative;
                width: 240px;
                height: 240px;
                margin-bottom: 5px;
                overflow: hidden;
            }

            img {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                max-width: 100%;
                height: auto;
                margin: auto;
                object-fit: cover;
            }
            
        }

        input[type="file"] {
            display: none;
        }

    }

}
