$some-red: #CE3B3B;
$some-blue: #1789FC;
$some-green: #46A95A;



//-Colours and shit
$white: #ffffff;
$base-font-color: #32373c;
$link-color: #4D9DE0;
$accent:#dbebf9;
$outline:#adbbda;
$background: #f9f9f9;
$grey: #e0e0e0;

//- Typography and shit
$open-sans: 'Open Sans', 'Helvetica Neue', 'Helvetica', 'Sans Serif';
$small-letter-spacing: 0.2px;

@import "~flexboxgrid/dist/flexboxgrid.min.css";

@import 'media';
@import 'notification';
@import 'select';
@import 'sidebar';
@import 'post-list';

*, *:before, *:after {
  box-sizing: border-box;
}

body {
	background: $background;
	font-family: $open-sans;
	color: $base-font-color;
	margin: 0;
    font-size: 14px;
}

h1 {
	font-weight: 500;
    margin: 0 0 15px;
}

h2 {
    font-weight: 500;
    margin: 0;
}

a {
    color: $link-color;
    text-decoration: none;
}

#login-form-wrap {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    form {
	    width: 300px;
	    padding: 15px;
        h1 {
            text-align: center
        }
        button {
            margin-top: 25px;
        }
    }
}

.fieldset {
    margin-bottom: 15px;

    .description{
        font-size: 12px;
        color: #888888;
        font-weight: 500;
    }
}

label {
   display: block;
   margin-bottom: 5px;
   font-size: 13px;

    &.large-field {
        font-size: 18px;
        font-weight: 600;
    }

}

input[type='text'],
input[type='password'],
input[type='search'] {
    height: 30px;
    width: 100%;
    border: 1px solid $accent;
    border-radius: 0;
    padding: 5px 15px;
    font-family: $open-sans;
    font-weight: 500;
    background: $white;
    &:focus {
        outline: 3px solid $outline;
    }

    &.large-field {
        height: 45px;
        font-size: 18px;
    }
}

textarea {
    width: 100%;
    border: 1px solid $accent;
    border-radius: 0;
    padding: 15px;
    font-family: $open-sans;
    font-weight: 500;
    background: $white;
    resize: vertical;
    &:focus {
        outline: 3px solid $outline;
    }
}

.checkbox-wrap {
    label {    
        display: flex;
        align-items:center;
        margin: 0;
        div:before {
            content:'';
            background: transparent;
            border: 2px solid #818890;
            height: 15px;
            width: 15px;
            display: inline-block;
            margin-right: 5px;
            vertical-align:top;
        }
        input[type="checkbox"]{
            position: absolute;
            left: -1000000px;
            &:checked + div:before {
                background: #818890
            }
            &:focus + div:before {
                outline: 3px solid $outline;
            }
        }
    }
}



button,
.button {
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-family: $open-sans;
    background: #31313a;
    color: #f2f2fa;
    border: none;
    padding: 5px 15px;
    height: 30px;
    &.full-width {
        display: block;
        width: 100%;
    }

    &.large {
        height: 60px;
        padding: 0 15px;
        line-height: 60px;
        font-size: 22px;
    }

    &:focus {
        outline: 3px solid $outline;
    }

    &.danger { 
        background: $some-red;
    }

    &.primary {
        background: $some-blue;
    }

    &.link {
        background: none;
        &.danger { 
            color: $some-red;
        }

        &.primary {
            color: $some-blue;
        }
    }
}



.box-row { 
    background:red;
    height: 30px;
}


// CONTENT TING
.content-ting {
    margin-left: 240px;
    padding: 0px 15px;
}


// EDITOR SCREEN
.post-sidebar-wrap {
    position: relative;
    background: #ffffff;

    h3 {
        margin: 0;
        padding: 15px;
        border-bottom: 1px solid $accent;
        font-weight: 600;
        font-size: 11px;
        letter-spacing: 0.2px;
        text-align: center;
    }

    .post-sidebar {
        color: $base-font-color;
        padding: 15px;
        width: 100%;
    }
}


//- User-list
.user-list-wrap {
    margin: 60px 0.5rem;
}

.user-list {
    width: 100%;
    font-size: 13px;

    .header {
        height: 30px;
        background: red;
        line-height: 30px;
        background: #929292;
        color: $white;
        font-size: 12px;
    }

    .username {
        font-weight: 600;
        font-size: 11px;
        letter-spacing: 0.2px;
        margin-top: 5px;
    }

    .list-item {
        background: #ffffff;
        border-bottom: 1px solid #dadada;
        transition: all 0.1s ease;
        > div {
            padding: 5px;
        }
    }

    a { 
        font-size: 13px;
    }

    .checkbox {
        width: 30px;
        flex-grow: 0;
    }

    .row > div {
        padding: 5px;
    }

    button,
    .button {
        margin: 0px 5px;
    }

    .nested-info {
        tr {
            background: none;
        }
        th,td {
            text-align: left;
            padding: 0px;
        }
    }
}


// ROLES

.role-form {
    max-width: 900px;
    width: 100%;
    margin: 0px auto;
}

.role-wrapper {
    margin: 30px 0px;
    .role-collection {
        background: $white;
        margin-bottom: 30px;

        h2 {
            font-size: 14px;
            letter-spacing: $small-letter-spacing;
            border-bottom: 1px solid $accent;
            margin: 0 15px;
            padding: 15px 0;
        }

        .permission-selector-wrap {
            padding: 0px 15px;
            .description {
                color: #6c757d;
                font-size: 12px;
                margin: 15px 0px;
                letter-spacing: $small-letter-spacing;
            }
            .permission-selector .checkbox-wrap {
                margin-bottom: 15px;
                label {
                    > div {
                        font-size: 13px;
                    }
                    :before {
                        vertical-align: middle;
                        border-color: $some-red;
                        background-color: $some-red;
                    }
                    input:checked + div:before{
                        border-color: $some-green;
                        background-color: $some-green;
                    }
                }
            }
        }
    }
}

