$some-red: #D71A2D;
$some-blue: #1789FC;
$some-green: #46A95A;

*, *:before, *:after {
  box-sizing: border-box;
}

body {
	background: #f2f2fa;
	font-family: 'Nunito';
	color: #31313a;
	margin: 0;
    font-size: 14px;
}

h1 {
	font-weight: 500;
}

#login-form-wrap {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    form {
	    width: 300px;
	    padding: 15px;
        h1 {
            text-align: center
        }
        button {
            margin-top: 25px;
        }
    }
}

.fieldset {
    margin-bottom: 15px;
    &:last-child {
        margin-bottom: 0px;
    }
}

label {
   display: block;
   margin-bottom: 5px;
   font-size: 13px;
}

input[type='text'],
input[type='password'] {
    height: 30px;
    width: 100%;
    border: none;
    border-radius: 0;
    padding: 5px;
    font-family: 'Nunito';
    font-weight: 500;
    &:focus {
        outline: 3px solid #798BB3;
    }

    &.large-field {
        height: 60px;
        font-size: 22px;
        padding: 15px;
    }
}

button,
.button {
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-family: 'Nunito';
    background: #31313a;
    color: #f2f2fa;
    border: none;
    padding: 5px 15px;
    height: 30px;
    &.full-width {
        display: block;
        width: 100%;
    }

    &.large {
        height: 60px;
        padding: 0 15px;
        line-height: 60px;
        font-size: 22px;
    }

    &:focus {
        outline: 3px solid #798BB3;
    }

    &.danger { 
        background: $some-red;
    }

    &.primary {
        background: $some-blue;
    }
}

// SIDEBAR TING
.sidebar-ting {
    position: fixed;
    width: 180px;
    background: #31313a;
    color: #ffffff;
    height: 100%;
    padding: 15px 0px;

    h2 {
        font-weight: 500;
        font-size: 22px;
        margin: 0;
    }

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    .sidebar-header {
        padding: 0px 15px;
    }

    .sidebar-list {
        padding: 15px 0px;
        margin-bottom: 30px;
        li {
            a {
                color: #ffffff;
                text-decoration: none;
                padding: 5px 15px;
                display: block;
                font-size: 14px;
                min-height: 30px;

                i {
                    margin-right: 5px;
                }

                &:focus {
                    outline: 3px solid #798BB3;
                }
            }
        }

        .menu-list>li>a.is-active{
            background: #3194A2;
        }

        .submenu {
            display: none;
            &.is-active {
                display: block;
                background: #246C76;
            }

            a.is-active {
                font-weight: 600;
            }
        }
    }
}

.box-row { 
    background:red;
    height: 30px;
}


// CONTENT TING
.content-ting {
    margin-left: 180px;
    padding: 15px;
}


// TYPOPGRAPHY AND DAT
h1 {
    margin: 0;
}



// EDITOR SCREEN
.post-sidebar-wrap {
    position: relative;
    .post-sidebar {
        background: #31313a;
        padding: 15px;
        width: 100%;
    }
}

//- post-list
.post-list-wrap {
    margin: 60px 0.5rem;
}

.post-list {
    width: 100%;
    border-collapse: collapse;

    th {
        text-align: left;
        font-weight: 500;
        background-color: #fafafa;
    }

    th,td {
        text-align: left;
        padding: 5px 15px;
    }

    tr {
        background-color: #C1C3C9;
        border-bottom: 1px solid #8890A5;
        &:nth-child(odd){
            background-color: #D2D5DD;
        }
    }

    button,
    .button {
        margin: 0px 5px;
    }

    .post-name {
        font-size: 18px;
        font-weight: 600;
    }
}

//- User-list
.user-list-wrap {
    margin: 60px 0.5rem;
}

.user-list {
    width: 100%;
    border-collapse: collapse;

    .user-name {
        font-size: 18px;
        font-weight: 600;
    }

    .user-real-name {
        font-size: 13px;
    }

    th {
        text-align: left;
        font-weight: 500;
        background-color: #fafafa;
    }

    th,td {
        text-align: left;
        padding: 5px 15px;
    }

    tr {
        background-color: #C1C3C9;
        border-bottom: 1px solid #8890A5;
        &:nth-child(odd){
            background-color: #D2D5DD;
        }
    }

    button,
    .button {
        margin: 0px 5px;
    }

    .nested-info {
        tr {
            background: none;
        }
        th,td {
            text-align: left;
            padding: 0px;
        }
    }
}