.fieldset {
  margin-bottom: 15px;
}

.fieldset .description {
  font-size: 12px;
  color: #888888;
  font-weight: 500;
}

label {
  display: block;
  margin-bottom: 5px;
  font-size: 13px;
  font-weight: 600;
}

label.large-field {
  font-size: 18px;
  font-weight: 600;
}

input[type='text'],
input[type='password'],
input[type='search'] {
  height: 3rem;
  width: 100%;
  border: 1px solid #dbebf9;
  border-radius: 0;
  padding: 5px 15px;
  font-family: "Nunito", "Helvetica Neue", "Helvetica", "Sans Serif";
  font-weight: 500;
  background: #ffffff;
}

input[type='text']:focus,
input[type='password']:focus,
input[type='search']:focus {
  outline: 3px solid #adbbda;
}

input[type='text'].large-field,
input[type='password'].large-field,
input[type='search'].large-field {
  height: 45px;
  font-size: 18px;
}

textarea {
  width: 100%;
  border: 1px solid #dbebf9;
  border-radius: 0;
  padding: 15px;
  font-family: "Nunito", "Helvetica Neue", "Helvetica", "Sans Serif";
  font-weight: 500;
  background: #ffffff;
  resize: vertical;
}

textarea:focus {
  outline: 3px solid #adbbda;
}

select {
  padding: 0.5rem;
  border: none;
  height: 3rem;
  outline: none;
  width: 100%;
  border: 1px solid #dbebf9;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: none;
  border-radius: 0;
  font-family: "Nunito", "Helvetica Neue", "Helvetica", "Sans Serif";
  font-weight: 500;
  background: #ffffff;
}

button,
.button {
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  font-family: "Nunito", "Helvetica Neue", "Helvetica", "Sans Serif";
  background: #272829;
  color: #ffffff;
  border: none;
  padding: 5px 15px;
  height: 3rem;
  border-radius: 0;
  font-weight: 600;
  font-size: 13px;
}

button.full-width,
.button.full-width {
  display: block;
  width: 100%;
}

button.large,
.button.large {
  height: 60px;
  padding: 0 15px;
  line-height: 60px;
  font-size: 22px;
}

button:focus,
.button:focus {
  outline: 3px solid #adbbda;
}

button.danger,
.button.danger {
  background: #f94336;
}

button.primary,
.button.primary {
  background: #4D9DE0;
}

button.link,
.button.link {
  background: none;
}

button.link.danger,
.button.link.danger {
  color: #f94336;
}

button.link.primary,
.button.link.primary {
  color: #4D9DE0;
}

#app {
  display: grid;
  grid-template-columns: 24rem 1fr;
}

.code-wrap {
  background: #1c252a;
  padding-top: 15px;
}

.code-wrap .select-wrap {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.code-wrap .select-wrap select {
  background: #1c252a;
  color: white;
  font-family: monospace;
  border: none;
  margin: 10px;
  display: block;
  font-size: 14px;
}

.row {
  display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr);
  grid-gap: 1.5rem;
}

.col-xs-1 {
  grid-column: span 1;
}

.col-xs-2 {
  grid-column: span 2;
}

.col-xs-3 {
  grid-column: span 3;
}

.col-xs-4 {
  grid-column: span 4;
}

.col-xs-5 {
  grid-column: span 5;
}

.col-xs-6 {
  grid-column: span 6;
}

.col-xs-7 {
  grid-column: span 7;
}

.col-xs-8 {
  grid-column: span 8;
}

.col-xs-9 {
  grid-column: span 9;
}

.col-xs-10 {
  grid-column: span 10;
}

.col-xs-11 {
  grid-column: span 11;
}

.col-xs-12 {
  grid-column: span 12;
}

.uploader-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100%);
  height: calc(100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  visibility: hidden;
  opacity: 0;
  z-index: 10000;
}

.uploader-wrap.active {
  visibility: visible;
  opacity: 1;
}

.uploader-wrap .overlay {
  position: absolute;
  width: calc(100%);
  height: calc(100%);
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
}

.uploader-wrap .uploader {
  border-radius: 3px;
  position: relative;
  background: #ffffff;
  width: calc(100% - 120px);
  height: calc(100% - 120px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 1px 1px 8px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 1px 8px 0px rgba(0, 0, 0, 0.2);
}

.uploader-wrap .uploader .uploader-header {
  padding: 15px;
}

.uploader-wrap .uploader .selected-file {
  display: block;
  width: 300px;
  background: #ffffff;
  border-left: 1px solid #dbebf9;
  padding: 15px;
}

.uploader-wrap .uploader .uploader-content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background: #f3f3f3;
  border-top: 1px solid #dbebf9;
  border-bottom: 1px solid #dbebf9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-line-pack: start;
      align-content: start;
  position: relative;
}

.uploader-wrap .uploader .uploader-content .media-container {
  overflow-y: scroll;
  width: calc(100% - 300px);
}

.uploader-wrap .uploader .uploader-content h3 {
  width: 100%;
  padding: 0px 15px;
  font-size: 14px;
  margin: 15px 0px 0px;
  letter-spacing: 0.2px;
}

.uploader-wrap .uploader .uploader-content .file-placeholder {
  width: 100%;
  background: #83c6ff;
  height: 100%;
}

.uploader-wrap .uploader .uploader-content .media-wrap {
  padding: 1.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1.5rem;
}

.uploader-wrap .uploader .uploader-content .file {
  cursor: pointer;
  background: none;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
  height: 240px;
  width: 100%;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #32373c;
  font-size: 12px;
}

.uploader-wrap .uploader .uploader-content .file.uploading {
  width: 240px;
  height: 120px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border: 1px solid #adbbda;
}

.uploader-wrap .uploader .uploader-content .file:hover,
.uploader-wrap .uploader .uploader-content .file:focus {
  outline: none;
}

.uploader-wrap .uploader .uploader-content .file:hover .img-wrap,
.uploader-wrap .uploader .uploader-content .file:focus .img-wrap {
  outline: 3px solid #adbbda;
}

.uploader-wrap .uploader .uploader-content .progress-wrap {
  width: 100%;
  height: 15px;
  border: 1px solid #adbbda;
  margin: 15px;
}

.uploader-wrap .uploader .uploader-content .progress-wrap .progress {
  height: 100%;
  background: #dbebf9;
}

.uploader-wrap .uploader .uploader-content .img-wrap {
  border: 1px solid #adbbda;
  position: relative;
  margin-bottom: 5px;
  overflow: hidden;
}

.uploader-wrap .uploader .uploader-content img {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  margin: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.uploader-wrap .uploader input[type="file"] {
  display: none;
}

.notification {
  margin: 0px 0px 15px;
  padding: 15px;
  min-height: 60px;
  color: #ffffff;
  background: #31313a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  position: relative;
}

.notification.danger {
  background: #f94336;
}

.notification.success {
  background: #29B163;
}

.notification button.close {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 30px;
  color: #ffffff;
  background: none;
  font-size: 20px;
  height: 100%;
  padding: 0px;
  outline: none;
}

fieldset[disabled] .multiselect {
  pointer-events: none;
}

.multiselect__spinner {
  position: absolute;
  right: 1px;
  top: 1px;
  width: 48px;
  height: 35px;
  background: #ffffff;
  display: block;
}

.multiselect__spinner:after,
.multiselect__spinner:before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  margin: -8px 0 0 -8px;
  width: 16px;
  height: 16px;
  border-radius: 100%;
  border-style: solid;
  border-color: #29B163 transparent transparent;
  border-width: 2px;
  -webkit-box-shadow: 0 0 0 1px transparent;
          box-shadow: 0 0 0 1px transparent;
}

.multiselect__spinner:before {
  -webkit-animation: a 2.4s cubic-bezier(0.41, 0.26, 0.2, 0.62);
          animation: a 2.4s cubic-bezier(0.41, 0.26, 0.2, 0.62);
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.multiselect__spinner:after {
  -webkit-animation: a 2.4s cubic-bezier(0.51, 0.09, 0.21, 0.8);
          animation: a 2.4s cubic-bezier(0.51, 0.09, 0.21, 0.8);
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.multiselect__loading-enter-active,
.multiselect__loading-leave-active {
  -webkit-transition: opacity .4s ease-in-out;
  transition: opacity .4s ease-in-out;
  opacity: 1;
}

.multiselect__loading-enter,
.multiselect__loading-leave-active {
  opacity: 0;
}

.multiselect,
.multiselect__input,
.multiselect__single {
  font-family: inherit;
  font-size: 14px;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

.multiselect {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: block;
  position: relative;
  width: 100%;
  min-height: 40px;
  text-align: left;
  color: #35495e;
}

.multiselect * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.multiselect:focus {
  outline: none;
}

.multiselect--disabled {
  opacity: .6;
}

.multiselect--active {
  z-index: 1;
}

.multiselect--active:not(.multiselect--above) .multiselect__current,
.multiselect--active:not(.multiselect--above) .multiselect__input,
.multiselect--active:not(.multiselect--above) .multiselect__tags {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.multiselect--active .multiselect__select {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.multiselect--above.multiselect--active .multiselect__current,
.multiselect--above.multiselect--active .multiselect__input,
.multiselect--above.multiselect--active .multiselect__tags {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.multiselect__tag ~ .multiselect__input,
.multiselect__tag ~ .multiselect__single {
  width: auto;
}

.multiselect__input:hover,
.multiselect__single:hover {
  border-color: #cfcfcf;
}

.multiselect__input:focus,
.multiselect__single:focus {
  border-color: #a8a8a8;
  outline: none;
}

.multiselect__tags-wrap {
  display: inline;
}

.multiselect__tags {
  height: 40px;
  border: 1px solid #e8e8e8;
  background: #ffffff;
}

.multiselect__tag {
  position: relative;
  display: inline-block;
  padding: 4px 26px 4px 10px;
  border-radius: 5px;
  margin-right: 10px;
  color: #fff;
  line-height: 1;
  background: #29B163;
  margin-bottom: 5px;
  white-space: nowrap;
  overflow: hidden;
  max-width: 100%;
  text-overflow: ellipsis;
}

.multiselect__tag-icon {
  cursor: pointer;
  margin-left: 7px;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  font-weight: 700;
  font-style: normal;
  width: 22px;
  text-align: center;
  line-height: 22px;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  border-radius: 5px;
}

.multiselect__tag-icon:after {
  content: "\D7";
  color: #266d4d;
  font-size: 14px;
}

.multiselect__tag-icon:focus,
.multiselect__tag-icon:hover {
  background: #369a6e;
}

.multiselect__tag-icon:focus:after,
.multiselect__tag-icon:hover:after {
  color: #fff;
}

.multiselect__current {
  min-height: 40px;
  overflow: hidden;
  padding: 8px 12px 0;
  padding-right: 30px;
  white-space: nowrap;
  border-radius: 5px;
  border: 1px solid #e8e8e8;
}

.multiselect__current,
.multiselect__select {
  line-height: 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  margin: 0;
  text-decoration: none;
  cursor: pointer;
}

.multiselect__select {
  position: absolute;
  width: 60px;
  height: 60px;
  right: 0;
  top: 0;
  padding: 0;
  text-align: center;
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: -webkit-transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
}

.multiselect__select:before {
  position: relative;
  right: 0;
  top: 60%;
  color: #999;
  margin-top: 0;
  border-style: solid;
  border-width: 10px 10px 0;
  border-color: #999 transparent transparent;
  content: "";
}

.multiselect__placeholder {
  color: #adadad;
  display: inline-block;
  margin-bottom: 10px;
  padding-top: 2px;
}

.multiselect--active .multiselect__placeholder {
  display: none;
}

.multiselect__content-wrapper {
  position: absolute;
  display: block;
  background: #ffffff;
  width: 100%;
  max-height: 240px;
  overflow: auto;
  z-index: 1;
  -webkit-overflow-scrolling: touch;
}

.multiselect__content {
  list-style: none;
  display: inline-block;
  padding: 0;
  margin: 0;
  min-width: 100%;
  vertical-align: top;
}

.multiselect--above .multiselect__content-wrapper {
  bottom: 100%;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: none;
  border-top: 1px solid #e8e8e8;
}

.multiselect__content::webkit-scrollbar {
  display: none;
}

.multiselect__element {
  display: block;
}

.multiselect__option {
  display: block;
  padding: 12px;
  min-height: 30px;
  line-height: 16px;
  text-decoration: none;
  text-transform: none;
  vertical-align: middle;
  position: relative;
  cursor: pointer;
  white-space: nowrap;
}

.multiselect__option:after {
  top: 0;
  right: 0;
  position: absolute;
  line-height: 40px;
  padding-right: 12px;
  padding-left: 20px;
}

.multiselect__option--highlight {
  background: #29B163;
  outline: none;
  color: #fff;
}

.multiselect__option--highlight:after {
  content: attr(data-select);
  background: #29B163;
  color: #fff;
}

.multiselect__option--selected {
  background: #f3f3f3;
  color: #35495e;
  font-weight: 700;
}

.multiselect__option--selected:after {
  content: attr(data-selected);
  color: silver;
}

.multiselect__option--selected.multiselect__option--highlight {
  background: #272829;
  color: #fff;
}

.multiselect__option--selected.multiselect__option--highlight:after {
  background: #272829;
  content: attr(data-deselect);
  color: #fff;
}

.multiselect--disabled {
  background: #ededed;
  pointer-events: none;
}

.multiselect--disabled .multiselect__current,
.multiselect--disabled .multiselect__select,
.multiselect__option--disabled {
  background: #ededed;
  color: #a6a6a6;
}

.multiselect__option--disabled {
  cursor: text;
  pointer-events: none;
}

.multiselect__option--disabled.multiselect__option--highlight {
  background: #dedede !important;
}

.multiselect-enter-active,
.multiselect-leave-active {
  -webkit-transition: all .15s ease;
  transition: all .15s ease;
}

.multiselect-enter,
.multiselect-leave-active {
  opacity: 0;
}

.multiselect__strong {
  margin-bottom: 8px;
  line-height: 20px;
  display: inline-block;
  vertical-align: top;
}

[dir=rtl] .multiselect {
  text-align: right;
}

[dir=rtl] .multiselect__select {
  right: auto;
  left: 1px;
}

[dir=rtl] .multiselect__tags {
  padding: 8px 8px 0 40px;
}

[dir=rtl] .multiselect__content {
  text-align: right;
}

[dir=rtl] .multiselect__option:after {
  right: auto;
  left: 0;
}

[dir=rtl] .multiselect__clear {
  right: auto;
  left: 12px;
}

[dir=rtl] .multiselect__spinner {
  right: auto;
  left: 1px;
}

@-webkit-keyframes a {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }

  to {
    -webkit-transform: rotate(2turn);
            transform: rotate(2turn);
  }
}

@keyframes a {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }

  to {
    -webkit-transform: rotate(2turn);
            transform: rotate(2turn);
  }
}

.multiselect .multiselect__tags {
  height: 30px;
  width: 100%;
  border: 1px solid #dbebf9;
  border-radius: 0;
  padding: 5px;
  font-family: "Nunito", "Helvetica Neue", "Helvetica", "Sans Serif";
  font-weight: 500;
  background: #ffffff;
}

.multiselect .multiselect__tags .multiselect__single {
  font-size: 14px;
  margin: 0;
  padding: 0;
  display: block;
  color: #32373c;
}

.multiselect .multiselect__select {
  position: absolute;
  width: 30px;
  height: 30px;
}

.multiselect .multiselect__select:before {
  top: 20px;
  border-style: solid;
  border-width: 5px 5px 0;
}

.multiselect .multiselect__content-wrapper {
  outline: 3px solid #adbbda;
}

.multiselect .multiselect__option {
  display: block;
  padding: 0px 5px;
  height: 30px;
  line-height: 30px;
  position: relative;
  cursor: pointer;
  white-space: nowrap;
}

.multiselect:focus {
  outline: 3px solid #adbbda;
}

.multiselect.large-field .multiselect__tags {
  height: 60px;
  font-size: 22px;
  padding: 15px;
}

.multiselect.large-field .multiselect__select {
  position: absolute;
  width: 60px;
  height: 60px;
}

.multiselect.large-field .multiselect__select:before {
  top: 40px;
  border-style: solid;
  border-width: 10px 10px 0;
}

.multiselect.large-field .multiselect__single {
  font-size: 22px;
}

.multiselect.large-field .multiselect__option {
  height: 60px;
  font-size: 22px;
  line-height: 60px;
  padding: 0 15px;
}

.sidebar {
  color: #e8eaeb;
  background: #32373c;
  height: 100vh;
  padding: 15px 0px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.sidebar h2 {
  font-weight: 500;
  font-size: 22px;
  margin: 0 0 30px;
}

.sidebar h3 {
  margin: 5px 15px;
  font-size: 11px;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  font-weight: 900;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar .sidebar-header {
  padding: 0px 15px;
}

.sidebar .sidebar-list {
  margin-bottom: 30px;
}

.sidebar .sidebar-list li a {
  color: #7d7d7d;
  text-decoration: none;
  padding: 1rem 0;
  margin: 0 15px;
  display: block;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: -0.1px;
  min-height: 30px;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

.sidebar .sidebar-list li a i {
  margin-right: 5px;
  font-size: 16px;
}

.sidebar .sidebar-list li a span {
  vertical-align: top;
  display: inline-block;
}

.sidebar .sidebar-list.links {
  padding: 0px 15px;
}

.sidebar .sidebar-list.links li a {
  margin: 0;
}

.sidebar .sidebar-list .menu-list > li > a.is-active {
  color: #4D9DE0;
  border-radius: 3px;
}

.sidebar .sidebar-list .submenu {
  display: none;
  margin: 0 15px;
}

.sidebar .sidebar-list .submenu.is-active {
  display: block;
}

.sidebar .sidebar-list .submenu a.is-active {
  font-weight: 600;
  color: #4D9DE0;
  border-radius: 3px;
}

.post-list-wrap {
  margin: 60px 0.5rem;
}

.post-list {
  width: 100%;
  border-collapse: collapse;
  border-top: 1px solid #32373c;
  overflow: hidden;
}

.post-list-header {
  height: 30px;
  padding: 0px 15px;
  border-bottom: 1px solid #32373c;
  font-weight: 600;
}

.post-list-header .centered {
  text-align: center;
}

.post-list-item {
  min-height: 90px;
  padding: 0px 15px;
  border-bottom: 1px solid #32373c;
}

.post-list-item .post-name {
  font-size: 18px;
  letter-spacing: 0.2px;
}

.post-list-item .post-name a {
  color: #32373c;
}

.post-list-item .post-actions {
  position: absolute;
  opacity: 0;
  font-size: 12px;
}

.post-list-item .post-date {
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0.2px;
  text-align: center;
}

.post-list-item button,
.post-list-item .button {
  margin: 0px 5px;
}

.post-list-item .button-wrap {
  text-align: right;
}

.post-list-item:hover .post-actions {
  opacity: 1;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background: #f9f9f9;
  font-family: "Nunito", "Helvetica Neue", "Helvetica", "Sans Serif";
  color: #32373c;
  margin: 0;
  font-size: 14px;
}

h1 {
  font-weight: 500;
  margin: 0 0 15px;
}

h2 {
  font-weight: 500;
  margin: 0;
}

span.danger {
  color: #f94336;
}

span.success {
  color: #29B163;
}

span.warning {
  color: #d4b626;
}

span.primary {
  color: #4D9DE0;
}

a {
  color: #4D9DE0;
  text-decoration: none;
}

a.danger {
  color: #f94336;
}

a.success {
  color: #29B163;
}

a.warning {
  color: #d4b626;
}

a.base {
  color: #272829;
}

#login-form-wrap {
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#login-form-wrap form {
  width: 300px;
  padding: 15px;
}

#login-form-wrap form h1 {
  text-align: center;
}

#login-form-wrap form button {
  margin-top: 25px;
}

.checkbox-wrap label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
}

.checkbox-wrap label div:before {
  content: '';
  background: transparent;
  border: 2px solid #818890;
  height: 15px;
  width: 15px;
  display: inline-block;
  margin-right: 5px;
  vertical-align: top;
}

.checkbox-wrap label input[type="checkbox"] {
  position: absolute;
  left: -1000000px;
}

.checkbox-wrap label input[type="checkbox"]:checked + div:before {
  background: #818890;
}

.checkbox-wrap label input[type="checkbox"]:focus + div:before {
  outline: 3px solid #adbbda;
}

.box-row {
  background: red;
  height: 30px;
}

/* Content */

.content {
  padding: 15px;
}

.post-sidebar-wrap {
  position: relative;
  background: #ffffff;
}

.post-sidebar-wrap h3 {
  margin: 0;
  padding: 15px;
  border-bottom: 1px solid #dbebf9;
  font-size: 11px;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  font-weight: 900;
}

.post-sidebar-wrap .post-sidebar {
  color: #32373c;
  padding: 15px;
  width: 100%;
  border-radius: 3px;
}

.post-sidebar-wrap .post-sidebar .post-url {
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
}

.post-sidebar-wrap .post-sidebar .post-url span,
.post-sidebar-wrap .post-sidebar .post-url a {
  font-size: 16px;
  font-weight: 600;
}

.post-sidebar-wrap .post-sidebar .post-url .url-prefix {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.post-sidebar-wrap .post-sidebar .post-url .url-prefix input {
  padding: 0;
  font-size: 16px;
  font-weight: bold;
  border-top: 0;
  border-left: 0;
  border-right: 0;
}

.user-list-wrap {
  margin: 60px 0.5rem;
}

.user-list {
  width: 100%;
  font-size: 13px;
}

.user-list .header {
  height: 30px;
  background: red;
  line-height: 30px;
  background: #929292;
  color: #ffffff;
  font-size: 12px;
}

.user-list .username {
  font-weight: 600;
  font-size: 11px;
  letter-spacing: 0.2px;
  margin-top: 5px;
}

.user-list .list-item {
  background: #ffffff;
  border-bottom: 1px solid #dadada;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

.user-list .list-item > div {
  padding: 5px;
}

.user-list a {
  font-size: 13px;
}

.user-list .checkbox {
  width: 30px;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

.user-list .row > div {
  padding: 5px;
}

.user-list button,
.user-list .button {
  margin: 0px 5px;
}

.user-list .nested-info tr {
  background: none;
}

.user-list .nested-info th,
.user-list .nested-info td {
  text-align: left;
  padding: 0px;
}

.post-dates {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 13px;
  font-weight: 600;
}

.post-date {
  margin-bottom: 15px;
}

.post-dates .date-title {
  margin-bottom: 5px;
}

.post-dates i {
  font-size: 18px;
  display: block;
  margin-bottom: 5px;
}

.post-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.post-controls-footer .action {
  margin: 15px -15px -15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: 600;
}

.post-controls-footer .action.danger {
  color: #f94336;
  background: #fff3f2;
}

.post-controls-footer .action .message {
  padding: 0px 15px;
  margin-right: auto;
}

.role-form {
  max-width: 900px;
  width: 100%;
  margin: 0px auto;
}

.role-wrapper {
  margin: 30px 0px;
}

.role-wrapper .role-collection {
  background: #ffffff;
  margin-bottom: 30px;
}

.role-wrapper .role-collection h2 {
  font-size: 14px;
  letter-spacing: 0.2px;
  border-bottom: 1px solid #dbebf9;
  margin: 0 15px;
  padding: 15px 0;
}

.role-wrapper .role-collection .permission-selector-wrap {
  padding: 0px 15px;
}

.role-wrapper .role-collection .permission-selector-wrap .description {
  color: #6c757d;
  font-size: 12px;
  margin: 15px 0px;
  letter-spacing: 0.2px;
}

.role-wrapper .role-collection .permission-selector-wrap .permission-selector .checkbox-wrap {
  margin-bottom: 15px;
}

.role-wrapper .role-collection .permission-selector-wrap .permission-selector .checkbox-wrap label > div {
  font-size: 13px;
}

.role-wrapper .role-collection .permission-selector-wrap .permission-selector .checkbox-wrap label :before {
  vertical-align: middle;
  border-color: #f94336;
  background-color: #f94336;
}

.role-wrapper .role-collection .permission-selector-wrap .permission-selector .checkbox-wrap label input:checked + div:before {
  border-color: #29B163;
  background-color: #29B163;
}

